<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <userSettings>
        <ProjectMaelstrom.Properties.Settings>
            <setting name="LEARN_MODE_PROFILE" serializeAs="String">
                <value>Mixed</value>
            </setting>
        </ProjectMaelstrom.Properties.Settings>
    </userSettings>
</configuration>