<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <userSettings>
        <ProjectMaelstrom.Properties.Settings>
            <setting name="SPEED_MULTIPLIER" serializeAs="String">
                <value>2.5</value>
            </setting>
        </ProjectMaelstrom.Properties.Settings>
    </userSettings>
</configuration>